ion-toolbar{
    --background:#8A2944;
}
ion-content{
    --ion-background-color:#8A2944;
}

.card {
    background-color: #FFFFFF
  }

.text{
    color: #8A2944;
}
h1{
    color:#8A2944
}
.buttoncolor{
    --background: #8A2944;
}