<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Food Order Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--
   Creates an ion-card with alternating colours to the google form, making sure that it is in the centre of the page
  <ion-card color="secondary">
  <p align="center">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOpTn8En0G3ZaZy1PIouLKP8nOycSrvXMiL4OXqPA7v3wedg/viewform?embedded=true"
    style="width:90%; height:100vh; border:0;"></iframe>
    </p>
</ion-card>
-->
<ion-card>
  <ion-card-content>
    Feature is currently under development
  </ion-card-content>
</ion-card>
   
</ion-content>
